<div class="page-header">
  <div class="container">

<h1>Current Members</h1>
</div>
</div>
<%= link_to "New Member", new_user_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>

      </th>
      <th>
      Members
      </th>
      <th>
        Phone Number
      </th>
      <th>
        Address
      </th>
      <th>
        Unit
      </th>
      <th>
        City
      </th>
      <th>
        State
      </th>
      <th>
        Zip Code
      </th>
      <th>
        Entry Code
      </th>
      <th>
        Email
      </th>
      <th>
        Birthday
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.order('last_name').each do |user| %>
    <tr>
      <td>
        <%= link_to image_tag(user.profile_picture, :size => "120x120"), user_path(user) %>
      </td>
      <td>
        <%= link_to user.full_name, user_path(user) %>
      </td>
      <td>
        <%= user.phone_number %>
      </td>
      <td>
        <%= user.address %>
      </td>
      <td>
        <%= user.unit %>
      </td>
      <td>
        <%= user.city %>
      </td>
      <td>
        <%= user.state %>
      </td>
      <td>
        <%= user.zip_code %>
      </td>
      <td>
        <%= user.entry_code %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= (user.birthday).to_formatted_s(:short) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
